<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
 	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Vendor CSS Files -->

	<link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
	<link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
	<link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
	<link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
	<link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

	<!-- Favicons -->
	<link href="assets/img/favicon.png" rel="icon">
	<link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300stylesheet,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">


	<title>{% block title %} page {% endblock %}</title>

</head>
<body>
	<header class="text-success">
		<nav class="navbar navbar-expand-lg ">
			<div class="container header-btn">
				<a class="navbar-brand" href="#"><h1>🐞</h1></a>  <!-- logo-->
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
					<ul class="navbar-nav header-nav-link float-end">
						<li class="nav-item">
							<a class="nav-link display-1" aria-current="page"  href="#">Issues</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1 " href="#">Teams</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="#">Reports</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="#">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="#">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div id="page-container" class="container">
		<main id="content-wrap">
			<!-- all other page content -->
			<section">
				{% block section %} section {% endblock %}
			</section>
		</main>
		<footer id="footer"> {% block footer %} {% endblock %}</footer>
	</div>
	<!-- Vendor JS Files -->
	<script src="assets/vendor/aos/aos.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
	<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
	<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
	<script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
	<script src="assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
</body>
</html>