<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
 	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300stylesheet,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Template CSS File -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/form.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/issue.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/team.css')}}">

	<title>{% block title %} page {% endblock %}</title>

</head>
<body>
	<header class="text-success fixed-top mb-5 header-bg">
		<nav class="navbar navbar-expand-lg">
			<div class="container header-btn">
				<a class="navbar-brand" href="/"><h1>🪲</h1></a>  <!-- logo-->
				<button class="navbar-toggler head-btn-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
					<ul class="navbar-nav header-nav-link">
						<li class="nav-item">
							<a class="nav-link display-1" aria-current="page"  href="/issues">Issues</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1 " href="/team">Team</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="/report">Report</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="/login">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="/logout">Logout</a>
						</li>
						<li class="nav-item">
							<a class="nav-link display-1" href="/admin">Dashboard</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<div id="page-container" class="container mt-5 pt-4">

		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			{% for category, message in messages %}
			{% if category == "error" %}
			<div class="alert alert-danger alert-dismissible fade show" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% elif category == "success" %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% else %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>{{ message }}</strong>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			{% endif %}
			{% endfor %}
			{% endif %}
			{% endwith %}
		</div>
		<main id="content-wrap">
			<!-- all other page content -->
			<section">
				{% block section %} section {% endblock %}
			</section>
		</main>
		{% block footer %}  {% endblock %}
		<footer id="footer">

<!--			<span class="p-5">  &copy; all right reserved 🐞 </span>-->
		</footer>

	</div>

	<!-- Template JS File -->
	<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<script src="{{url_for('static', filename='js/flash.js')}}"></script>

</body>
</html>