{% extends 'base.html' %}
{% block title %} Issues {% endblock %}

{% block section %}

	<div  class="pt-4">
		<div class="container">
			<div class="sign pt-5 pb-5 position-relative" align="center">
				<h3>
					Issues &nbsp;
					<span class="position-absolute top-3 start-90 translate-end badge rounded-pill bg-success">
						99+ <span class="visually-hidden">unread messages</span>
					</span>
				</h3>
			</div>

			<div>
				<ul class=" d-flex justify-content-between list-unstyled">
					<li class="nav-item">Bug</li>
					<li class="nav-item">Reporter</li>
					<li class="nav-item">Status</li>
					<li class="nav-item">Priority</li>
					<li class="nav-item">Assign to</li>
					<li class="nav-item">Date</li>
				</ul>
			</div>

			<div>
				<ul class="d-flex flex-row justify-content-between list-unstyled">
					<li class=" ">Bug name</li>
					<li class=" ">Reporter name</li>
					<li class=" ">complete</li>
					<li class=" ">high</li>
					<li class=" ">developer name</li>
					<li class=" ">mm/day/yy</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}