{% extends 'base.html' %}
{% block title %} Issues {% endblock %}

{% block section %}

	<div  class="">
		<div class="container">
			<div class="sign pt-5 pb-5 position-relative" align="center">
				<h3>
					Issues &nbsp;
					<span class="position-absolute top-3 start-90 translate-end badge rounded-pill bg-success">
						 9 <span class="visually-hidden">unread messages</span>
					</span>
				</h3>
			</div>

			<div class="issue-wrapper mb-4 shadow-lg">
				<div class="issue-container px-2">
					<ul class=" d-flex list-unstyled row issue-nav-color">
						<li class="nav-item col">Bug</li>
						<li class="nav-item col">Reporter</li>
						<li class="nav-item col">Status</li>
						<li class="nav-item col">Priority</li>
						<li class="nav-item col">Assign to</li>
						<li class="nav-item col">Description</li>
						<li class="nav-item col">Date</li>
					</ul>
				</div>
			</div>

			<div class="mb-2 shadow">
			<!--	Issues	 -->
				<ul class="d-flex flex-row justify-content-between list-unstyled row ml-2 px-2">
					<li class="col">Bug name</li>
					<li class="col">Reporter name</li>
					<li class="col">
						<select name="status">
							<option selected disabled > Status </option>
							<option> Complete </option>
							<option> In Progress </option>
							<option> Pending </option>
						</select>
					</li>
					<li class="col">high</li>
					<li class="col">developer name</li>
					<li class="col ">
						<!-- Button trigger modal -->
						<p data-bs-toggle="modal" data-bs-target="#description" class="desc-btn" >
							Description <i class="desc-color">⏏︎</i>
						</p>
					</li>
					<li class="col">mm/day/yy</li>
				</ul>


				<ul class="d-flex flex-row justify-content-between list-unstyled row ml-2 px-2">
					<li class="col">Bug name</li>
					<li class="col">Reporter name</li>
					<li class="col">
						<select name="status">
							<option selected disabled > Status </option>
							<option> Complete </option>
							<option> In Progress </option>
							<option> Pending </option>
						</select>
					</li>
					<li class="col">high</li>
					<li class="col">developer name</li>
					<li class="col ">
						<!-- Button trigger modal -->
						<p data-bs-toggle="modal" data-bs-target="#description" class="desc-btn" >
							Description <i class="desc-color">⏏︎</i>
						</p>
					</li>
					<li class="col">mm/day/yy</li>
				</ul>


				<ul class="d-flex flex-row justify-content-between list-unstyled row ml-2 px-2">
					<li class="col">Bug name</li>
					<li class="col">Reporter name</li>
					<li class="col">

							<select name="status">
								<option selected disabled > Status </option>
								<option> Complete </option>
								<option> In Progress </option>
								<option> Pending </option>
							</select>

					</li>
					<li class="col">high</li>
					<li class="col">developer name</li>
					<li class="col ">
						<!-- Button trigger modal -->
						<p data-bs-toggle="modal" data-bs-target="#description" class="desc-btn" >
							Description <i class="desc-color">⏏︎</i>
						</p>
					</li>
					<li class="col">mm/day/yy</li>
				</ul>


				<!-- Modal Description -->
				<div class="modal fade" id="description" tabindex="-1" aria-labelledby="exampleModalLabel"
					 aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title fs-5" id="exampleModalLabel">
									<h3 class="green">Description</h3>
								</div>
								<button type="button" class="btn-close btn-x"
										data-bs-dismiss="modal" aria-label="Close">
								</button>
							</div>
							<div class="modal-body">
								<p> This is a description about the problem priority is High </p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-inherent text-dark" data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}