{% extends 'base.html' %}

{% block title %} report {% endblock %}

{% block section %}
	<form  action="{{url_for('view.report')}}" method="POST">
		<div class="container ">
			<div class="sign pt-5" align="center"><h3>Report 🪳</h3></div>
			<div class="justify-content-center p-2">
				<div class="row p-4">
					<div class="col input-group">
						<span class="input-group-text">First Name:</span>
						<input type="text" class="form-control" id="firstname" name="first_name">
					</div>
				</div>
				<div class="row p-4">
					<div class="col input-group">
						<span class="input-group-text">Last Name:</span>
						<input type="text" class="form-control" id="lastname" name="last_name">
					</div>
				</div>

				<div class="row p-4">
					<div class="col input-group">
						<span class="input-group-text">Issue Name:</span>
						<input type="text" class="form-control" id="report" name="issue" />
					</div>
				</div>

				<div class="row p-4">
					<div class="col input-group">
						<span class="input-group-text">Description:</span>
						<textarea class="form-control" id="floatingTextarea2" style="height: 100px" name="description"></textarea>
					</div>
				</div>
			</div>
			<div align="center" class="pt-4">
				<button type="submit" class="btn btn-inherent p-2">Report</button>
			</div>
		</div>
	</form>

{% endblock %}