{% extends 'base.html' %}

{% block title %} team {% endblock %}


{% block section %}
	<div  class="pt-4">
		<div class="container">
			<div class="sign pt-5" align="center"><h3>Team</h3></div>
			<ul>
				<div class="justify-content-center p-2">
					<div class="row p-4">

						<div class="col-3 mb-2">
							<div class="card card-bg  shadow " style="width: 18rem;">
								<div class="card-body bg-none ">
									<div class="row justify-content-center align-items-center">
										<div class="col-6">
											<h5 class="card-title card-name" >Samara</h5>
											ID: 457884
											Senior Software Engineer
										</div>
										<div class="col-6">
											<p class="card-text">
												Email: sakjlkjsfkjhdsfusfj@gamil.com
											</p>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="col-3 mb-2">
							<div class="card card-bg  shadow " style="width: 18rem;">
								<div class="card-body bg-none ">
									<div class="row justify-content-center align-items-center">
										<div class="col-6">
											<h5 class="card-title card-name" >miishu</h5>
											ID: 457884
											Senior Software Engineer
										</div>
										<div class="col-6">
											<p class="card-text">
												Email: sakjlkjsfkjhdsfusfj@gamil.com
											</p>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="col-3 mb-2">
							<div class="card card-bg  shadow " style="width: 18rem;">
								<div class="card-body bg-none ">
									<div class="row justify-content-center align-items-center">
										<div class="col-6">
											<h5 class="card-title card-name" >Joseph</h5>
											ID: 457884
											Senior Software Engineer
										</div>
										<div class="col-6">
											<p class="card-text">
												Email: sakjlkjsfkjhdsfusfj@gamil.com
											</p>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="col-3 mb-2">
							<div class="card card-bg  shadow " style="width: 18rem;">
								<div class="card-body bg-none ">
									<div class="row justify-content-center align-items-center">
										<div class="col-6">
											<h5 class="card-title card-name" >John</h5>
											ID: 457884
											Senior Software Engineer
										</div>
										<div class="col-6">
											<p class="card-text">
												Email: sakjlkjsfkjhdsfusfj@gamil.com
											</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</div>
{% endblock %}