{% extends 'adm_base.html' %}
{% block title %} Dashboard {% endblock %}
{% block main %}
<div class="container-fluid px-4">
    <h2 class="mt-4 mb-4">Dashboard</h2>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card dash-card text-white mb-4">
                <div class="card-body"> {{count_dev}} Developers 🖱️</div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card dash-card text-white mb-4">
                <div class="card-body">{{count_reports}} Reports 📄</div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card dash-card text-white mb-4">
                <div class="card-body">
                    Fixed ✅
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card dash-card text-white mb-4">
                <div class="card-body">Bugs ❌</div>
            </div>
        </div>
    </div>

    {% include 'adm_dash_helper.html' %}

</div>

{% endblock %}