{% extends 'adm_base.html' %}

{% block main %}
<!-- Issues / bugs -->
<div class="container">
	<h3 class="p-3"> Task</h3>
</div>


<div class="container ">
	<ul>
		<form action="{{ url_for('admin_view.task') }}" method="POST">
			<div class="row ">
				<div class="col update-input-bg">
					<input type="text" class="form-control" placeholder="Bug/Issue ID" name="bug_id">
				</div>

				<div class="col update-input-bg">
					<input type="text" class="form-control" placeholder="developer ID" name="dev_id">
				</div>

				<div class="pt-2 pb-2 col update-input-bg">
					<select class=" col border-0" name="priority">
						<option disabled selected>priority</option>
						<option value="high" class="form-control">High</option>
						<option value="medium" class="form-control">Medium</option>
						<option value="low" class="form-control">Low</option>
					</select>
				</div>
				<div class="col update-input-bg">
					<button class="btn btn-dark text-white ">Assign</button>
				</div>
			</div>
		</form>
	</ul>
</div>
<hr>
{% include 'adm_dash_helper.html' %}
{% endblock %}