{% extends 'adm_base.html'%}
{% block title %}new dev{% endblock%}
{% block main %}
<div class="container">

    <h3 class="font-weight-light my-4 text-dark text-muted">Add New Team </h3>

    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">

                <div class="card-body">
                    <form action="{{url_for('admin_view.add_dev') }}" method="POST">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class=" mb-3 mb-md-0">
                                    <input name="first_name" class="form-control" id="inputFirstName" type="text"
                                        placeholder="Enter first name" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" ">
                                    <input name="last_name" class="form-control" id="inputLastName" type="text"
                                        placeholder="Enter last name" />

                                </div>
                            </div>
                        </div>
                        <div class=" mb-3">
                            <input name="email" class="form-control" id="inputEmail" type="email"
                                placeholder="Email address" />

                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class=" mb-3 mb-md-0">
                                    <input name="salary" class="form-control" id="salary" type="text"
                                        placeholder="Salary" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" mb-3 mb-md-0">
                                    <input name="office" class="form-control" id="office" type="text"
                                        placeholder="office password" />
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class=" mb-3 mb-md-0">
                                    <input name="position" class="form-control" id="position" type="text"
                                        placeholder="position" />

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class=" mb-3 mb-md-0">
                                    <input name="start_date" class="form-control" id="start_date" type="text"
                                        placeholder="start_date" value="{{default_date}}" />

                                </div>
                            </div>
                        </div>
                        <div class="mt-4 mb-0 d-flex justify-content-between">
                            <a href="/admin">Return to dash</a>
                            <button type="submit" class="btn btn-dark text-white">Add Dev</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='admin/js/scripts.js')}}"></script>
{% endblock %}