{% extends 'base.html' %}
{% block title %}document{% endblock%}
{% block section %}
<div class="container">
    <div class="d-flex justify-content-center pb-5">
        <div class="desc-text">
            <h4>
                Document Your Work ↓
            </h4>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="desc-text">
            <div class="btn-doc-wrap">
                <button class="doc-button btn" onclick="formatText('bold')"><i
                        class="fa-sharp fa-solid fa-bold"></i></i>
                </button>
                <button class="doc-button btn" onclick="formatText('italic')">
                    <i class="fa-solid fa-italic"></i>
                </button>
                <button class="doc-button btn" onclick="formatText('underline')">
                    <i class="fa-solid fa-underline"></i>
                </button>
                <button class="doc-button btn" onclick="formatText('strikethrough')">
                    <i class="fa-solid fa-strikethrough"></i>
                </button>
                <button class="doc-button btn" onclick="formatText('insertunorderedlist')">
                    <i class="fa-solid fa-list"></i>
                </button>
                <button class="doc-button btn" onclick="formatText('insertorderedlist')">
                    <i class="fa-solid fa-list-ol"></i>
                </button>
                <button class="doc-button btn" onclick="insertLink()">
                    <i class="fa-solid fa-link"> </i>
                </button>
            </div>
            <form action="{{url_for('view.document', id=id)}}" method="POST">
                <div contenteditable="true" id="text-area" oninput="updateHiddenInput()">
                    <div class="fs-5">Issue Link/Url ↓</div>
                    <a href="{{report.url}}">{{report.url}}</a>
                    <div class="fs-5"> Issue Description ↓</div>
                    <br>
                </div>
                <input type="hidden" name="document-content" id="document_content_input">

                <div class="mt-2 d-flex justify-content-end">
                    <button class="btn btn-success btn-sm" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}