{% extends 'base.html' %}
{% block title %} Issues {% endblock %}

{% block section %}

<div class="pb-5">
	<div class="container">
		{% if current_user.is_authenticated and descriptions%}
		<div class="sign pt-2 pb-5 position-relative" align="center">
			<h3>
				Issues &nbsp;
				<span class="position-absolute top-3 start-90 translate-end badge rounded-pill bg-success">
					{% if count %} {{count}} {% else %} 2 {% endif %} <span class="visually-hidden">unread
						messages</span>
				</span>
			</h3>
		</div>

		<div class="issue-wrapper mb-4 shadow-lg">
			<div class="issue-container px-2">
				<ul class=" d-flex list-unstyled row issue-nav-color row">
					<li class="nav-item col">Bug</li>
					<li class="nav-item col">Priority</li>
					<li class="nav-item col">Date & Time</li>
					<li class="nav-item col">Description</li>
				</ul>
			</div>
		</div>

		<div class="mb-2 shadow">
			<div>
				{% for description, priority in descriptions %}
				<ul class="d-flex flex-row justify-content-between list-unstyled row ml-2">
					<li class="col p-2">&nbsp;&nbsp;&nbsp;{{description.issue_name}} </li>
					<li class="col pt-2">
						{% if priority.lower() == "high" %}
						<span class="text-danger">{{priority}}</span>
						{% elif priority.lower() == "low" %}
						<span class="text-warning">{{priority}}</span>
						{% else %}
						<span>{{priority}}</span>
						{% endif %}
					</li>
					<li class="col pt-2">{{description.date_created}}</li>
					<li class="col">
						<p data-bs-toggle="modal" data-bs-target="#description" class="btn-issue-desc mt-2">
							Description<i class="desc-color">⏏︎</i>
						</p>
					</li>
					<div class="doc-issue-wrapper"></div>
				</ul>
				<hr>

				<div class="modal fade" id="description" tabindex="-1" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<div class="modal-title fs-5" id="exampleModalLabel">
									<h3 class="green">Description about the issue </h3>
								</div>
								<button type="button" class="btn-close btn-x" data-bs-dismiss="modal"
									aria-label="Close">
								</button>
							</div>
							<div class="modal-body">
								<p> URL: <a href="" target="_blank">{{ description.url }}</a></p>
								<hr>
								<p>{{description.description}}</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-inherent text-dark"
									data-bs-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>
		{% else %}
		<div class="sign pt-2 pb-5 position-relative" align="center">
			<h3>
				No Issues
			</h3>
		</div>

		<div class="issue-wrapper mb-4 shadow-lg">
			<div class="issue-container px-2">
				<ul class=" d-flex list-unstyled row issue-nav-color">
					<li class="nav-item col">Bug</li>
					<li class="nav-item col">Priority</li>
					<li class="nav-item col">Date & Time</li>
					<li class="nav-item col">Description</li>
				</ul>
			</div>
		</div>

		<div class="mb-2 shadow">
			<!--	Issues	 -->
			<div>
				<ul class="d-flex flex-row justify-content-between list-unstyled row ml-2">
					<li class="col pt-2">Wrong date</li>
					<li class="col pt-2">Low</li>
					<li class="col pt-2">2024-12-4517:45:05</li>
					<li class="col">
						<!-- Button trigger modal -->
						<p data-bs-toggle="modal" data-bs-target="#description" class="btn-issue-desc mt-2">
							Description<i class="desc-color">⏏︎</i>
						</p>
					</li>
					<div class="doc-issue-wrapper"></div>
				</ul>
				<hr>
			</div>

			<div>
				<ul class="d-flex flex-row justify-content-between list-unstyled row ml-2">
					<li class="col pt-2">Broken Link</li>
					<li class="col pt-2">High</li>
					<li class="col pt-2">2024-12-4517:45:05</li>
					<li class="col">
						<!-- Button trigger modal -->
						<p data-bs-toggle="modal" data-bs-target="#description" class="btn-issue-desc mt-2">
							Description<i class="desc-color">⏏︎</i>
						</p>
					</li>
					<div class="doc-issue-wrapper"></div>
				</ul>
				<hr>
			</div>


			<!-- Description -->
			<div class="modal fade" id="description" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<div class="modal-title fs-5" id="exampleModalLabel">
								<h3 class="green">Description</h3>
							</div>
							<button type="button" class="btn-close btn-x" data-bs-dismiss="modal" aria-label="Close">
							</button>
						</div>
						<div class="modal-body">
							<p> This is a description about the problem priority is High/low </p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-inherent text-dark"
								data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		{% endif %}

	</div>
</div>
{% endblock %}
{% block footer %}
<div>
	<footer id="footer">
		<span class="p-5"> &copy; all right reserved 🐞 </span>
	</footer>
</div>
{% endblock %}
```