{% extends 'base.html' %}
{% block title %} signup {% endblock %}

{% block section %}
<form action="{{url_for('auth.register') }}" method="POST">
	<div class="pt-4">
		<div class="container">
			<div class="sign pt-5" align="center">
				<h3>Sign Up</h3>
			</div>
			<div class="justify-content-center p-2">
				<div class="row p-4">
					<div class="col input-group">
						<input type="text" class="form-control" name="first_name" placeholder="First Name">
					</div>
				</div>
				<div class="row p-4">
					<div class="col input-group">

						<input type="text" class="form-control" name="last_name" placeholder="Last Name">
					</div>
				</div>
				<div class="row p-4">
					<div class="col input-group">
						<input type="email" class="form-control" name="email" placeholder="Email address">
					</div>
				</div>
				<div class="row p-4">
					<div class="col input-group">
						<input type="password" class="form-control" name="password1" placeholder="*********">
					</div>
				</div>
				<div class="row p-4">
					<div class="col input-group">
						<input type="password" class="form-control" id="password2" name="password2"
							placeholder="*********">
					</div>
				</div>
			</div>
			<div align="center" class="pt-4">
				<button type="submit" class="btn btn-inherent p-2">Sign Up</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}