{% extends 'base.html' %}

{% block title %} report {% endblock %}

{% block section %}
<form action="{{url_for('view.report')}}" method="POST">
	<div class="container ">
		<div class="sign" align="center">
			<h3>Report 🪳</h3>
		</div>
		<div class="justify-content-center p-2">

			<div class="row p-4">
				<div class="col input-group">
					<input type="email" class="form-control" id="lastname" name="email" placeholder="Email address"
						value="{{current_user.email}}" />
				</div>
			</div>

			<div class="row p-4">
				<div class="col input-group">
					<input type="text" class="form-control" id="report" name="issue"
						placeholder="Issue name ex: broken link" />
				</div>
			</div>

			<div class="row p-4">
				<div class="col input-group">
					<input type="text" class="form-control" id="report" name="url" placeholder="URL to issue" />
				</div>
			</div>

			<div class="row p-4">
				<div class="col input-group">
					<textarea class="form-control text-white" id="floatingTextarea2" style="height: 100px"
						name="description"
						placeholder="Enter a short description of what the issue is&nbsp;..."></textarea>
				</div>
			</div>
		</div>
		<div align="center" class="pt-4">
			<button type="submit" class="btn btn-inherent p-2">Report bug</button>
		</div>
	</div>
</form>
{% endblock %}