{% extends 'base.html' %}
{% block title %}Task{% endblock %}


{% block section %}

<div class="pb-5">
    <div class="container">
        {% if current_user.is_authenticated and issues %}
        <div class="sign pt-2 pb-5 position-relative" align="center">
            <h3>
                {% if count > 1 %}
                My tasks
                <span class="badge text-bg-dark">{{count}}</span></a>
                {% else %}
                My task
                {% endif %}
            </h3>
        </div>

        <div class="issue-wrapper mb-4 shadow-lg">
            <div class="issue-container px-2">
                <ul class=" d-flex list-unstyled row issue-nav-color">
                    <li class="nav-item col">Bug</li>
                    <li class="nav-item col">Status</li>
                    <li class="nav-item col">Priority</li>
                    <li class="nav-item col">Description</li>
                    <li class="nav-item col">Documentaion</li>
                </ul>
            </div>
        </div>

        <div class="mb-2 shadow">
            <div>
                {% for issue in issues %}
                {% include 'issue_helper.html' %}
                {% endfor %}
            </div>

        </div>

        {% endif %}
        {% endblock %}