{% extends 'base.html' %}

{% block title %} Team {% endblock %}


{% block section %}
<div class="">
	<div class="container">
		{% if developers %}
		<div class="sign" align="center">
			<h3>Team</h3>
		</div>
		<ul>
			<div class="justify-content-center p-2">
				<div class="row p-4">
					{% for developer, user in developers %}
					<div class="col mb-2">
						<div class="card card-bg  shadow " style="width: 18rem;">
							<div class="card-body bg-none ">
								<div class="row justify-content-center align-items-center">
									<div class="col">
										<span class="sign">{{user.first_name}} {{user.last_name}}</span>
										{{developer.position}}
									</div>
								</div>
								<div class="row">
									<div class="col">
										<p class="card-text">
											<a href="mailto:{{developer.email}}">{{developer.email}}</a>
										</p>
									</div>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="sign" align="center">
						<h3>No Team</h3>
					</div>
					<div class="row">
						{% for _ in range(4) %}
						<div class="col mb-2">
							<div class="card card-bg  shadow " style="width: 18rem;">
								<div class="card-body bg-none ">
									<div class="row justify-content-center align-items-center">
										<div class="col">
											<span class="sign">{{"firstname"}} {{ "lastname" }}</span>
											{{"Software Developer"}}
										</div>
									</div>
									<div class="row">
										<div class="col">
											<p class="card-text">
												<a href="">{{"developer@email.com"}}</a>
											</p>
										</div>
									</div>

								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
			</div>
		</ul>
	</div>
</div>
{% endblock %}