<ul>
    <div class="row  mb-4">
        <form class="row d-flex align-items-center" action="{{url_for('admin_view.update_info')}}" method="POSt">
            <div class="col update-input-bg">
                <input name="email" class="form-control" id="email" type="email" placeholder="team current email"
                    required />
            </div>
            <div class="col update-input-bg">
                <input name="new_email" class="form-control" id="password" type="email" placeholder="Team new email"
                    required />
            </div>

            <div class="col update-input-bg">
                <input name="admin_password" class="form-control" id="password" type="password"
                    placeholder="admin password" required />
            </div>

            <div class="col">
                <button class="btn btn-sm btn-dark text-white" type="submit">Update
                    email&nbsp;&nbsp;&nbsp;&nbsp;</button>
            </div>
        </form>
    </div>
</ul>