
:root {
    --hover:#00FFAB;
    --dark: #282A3A;
    --green: #00FFAB;
    --border-btm: 1px #fff solid;
    --hero: #37517e;
    --footer-text: #fff;
    --footer: #47b2e4;
    --footer-bg: #f3f5fa;
    --white: #fff;
    --about-color: #47b2e4;
    --sub-headers: #37517e;
    --blue: #61F2F5 ;
    --action-color: #47b2e4; /* get started btn*/
}
.login-container {
    margin-top:5%;

}
.btn-inherent {
    border: 1px solid var(--green);
    color: var(--white);
    border-radius: 50px;
}
.btn-inherent:hover {
    border: 1px solid var(--green);
    background: var(--green)
}
.sign {
    color:var(--green)
}

.col input, span{
    border-top: none;
    border-left:None;
    border-right:none;
    border-bottom: 1px solid var(--blue);
    color: var(--blue) !important;
    background: var(--dark);
}

.col input:focus {
  background-color: var(--dark);
}

.col span {
    background-color: var(--dark);
    border-top: none;
    border-left:None;
    border-right:none;
    border-bottom: 1px solid var(--blue);
 }

.col textarea{
    background: var(--dark) !important;
    border-left: none;
    border-right: none;
    border-top: none;
    color: var(--blue) !important;
    border-bottom: 1px solid var(--blue);
}

.col span, input {
         display: block;
}
.col input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--white);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--white);
}