
:root {
    --hover:#00FFAB;
    --dark: #262626;
    --green: #00FFAB;
    --border-btm: 1px #fff solid;
    --hero: #37517e;
    --footer-text: #fff;
    --footer: #47b2e4;
    --footer-bg: #f3f5fa;
    --white: #fff;
    --about-color: #47b2e4;
    --sub-headers: #37517e;
    --action-color: #47b2e4; /* get started btn*/
}

.btn-inherent {
    border: 1px solid var(--green);
    color: var(--white);
    border-radius: 50px;
}
.btn-inherent:hover {
    border: 1px solid var(--green);
    background: var(--green)
}
.sign {
    color:var(--green)
}
